*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
/app/build/
*.class
*.log
*.swp
*~
.idea/
!.idea/codeStyles/
!.idea/vcs.xml

# Ensure .brain is uploaded as requested
!.brain/
